-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: zr_tailor_db
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `zr_tailor_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `zr_tailor_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `zr_tailor_db`;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `reference` varchar(120) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_customers_phone` (`phone`),
  KEY `idx_customers_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_options`
--

DROP TABLE IF EXISTS `design_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_options` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `category` enum('stitch','cuff_kaaj','extra','style','button') NOT NULL,
  `code` varchar(40) NOT NULL,
  `name_en` varchar(80) DEFAULT NULL,
  `name_ur` varchar(80) NOT NULL,
  `icon` varchar(40) DEFAULT NULL,
  `is_default` tinyint(1) NOT NULL DEFAULT 0,
  `sort_order` smallint(6) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_option` (`category`,`code`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_options`
--

LOCK TABLES `design_options` WRITE;
/*!40000 ALTER TABLE `design_options` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `garment_types`
--

DROP TABLE IF EXISTS `garment_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `garment_types` (
  `id` tinyint(3) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(30) NOT NULL,
  `name_en` varchar(60) NOT NULL,
  `name_ur` varchar(60) NOT NULL,
  `icon` varchar(40) DEFAULT NULL,
  `sort_order` tinyint(4) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_garment_code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `garment_types`
--

LOCK TABLES `garment_types` WRITE;
/*!40000 ALTER TABLE `garment_types` DISABLE KEYS */;
INSERT INTO `garment_types` VALUES (1,'kameez','Kameez (Suit)','┘é┘à█î╪╢','i-kameez',1),(2,'waistcoat','Waistcoat','┘ê╪º╪│┌⌐┘╣','i-vest',2);
/*!40000 ALTER TABLE `garment_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `measurement_points`
--

DROP TABLE IF EXISTS `measurement_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `measurement_points` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `garment_type_id` tinyint(3) unsigned NOT NULL,
  `code` varchar(40) NOT NULL,
  `name_en` varchar(60) NOT NULL,
  `name_ur` varchar(60) NOT NULL,
  `icon` varchar(40) DEFAULT NULL,
  `sort_order` smallint(6) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_point` (`garment_type_id`,`code`),
  CONSTRAINT `fk_point_garment` FOREIGN KEY (`garment_type_id`) REFERENCES `garment_types` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `measurement_points`
--

LOCK TABLES `measurement_points` WRITE;
/*!40000 ALTER TABLE `measurement_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `measurement_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_design_options`
--

DROP TABLE IF EXISTS `order_design_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_design_options` (
  `order_id` int(10) unsigned NOT NULL,
  `design_option_id` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`order_id`,`design_option_id`),
  KEY `idx_odo_option` (`design_option_id`),
  CONSTRAINT `fk_odo_option` FOREIGN KEY (`design_option_id`) REFERENCES `design_options` (`id`),
  CONSTRAINT `fk_odo_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_design_options`
--

LOCK TABLES `order_design_options` WRITE;
/*!40000 ALTER TABLE `order_design_options` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_design_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_garments`
--

DROP TABLE IF EXISTS `order_garments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_garments` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `order_id` int(10) unsigned NOT NULL,
  `garment_type_id` tinyint(3) unsigned NOT NULL,
  `quantity` smallint(6) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_order_garment` (`order_id`,`garment_type_id`),
  KEY `idx_og_garment` (`garment_type_id`),
  CONSTRAINT `fk_og_garment` FOREIGN KEY (`garment_type_id`) REFERENCES `garment_types` (`id`),
  CONSTRAINT `fk_og_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_garments`
--

LOCK TABLES `order_garments` WRITE;
/*!40000 ALTER TABLE `order_garments` DISABLE KEYS */;
INSERT INTO `order_garments` VALUES (1,2,1,1),(2,2,2,1),(5,3,1,1),(6,3,2,1),(9,11,1,1),(10,11,2,1),(11,12,1,1),(12,12,2,1),(13,8,1,1),(14,8,2,1),(17,4,1,1),(18,4,2,1),(19,13,1,1),(20,13,2,1),(21,14,1,1),(22,14,2,1),(23,15,1,1),(24,15,2,1),(25,16,1,1),(26,16,2,1),(27,17,1,1),(28,17,2,1),(29,18,1,1),(30,18,2,1),(31,19,1,1),(32,19,2,1),(33,20,1,1),(34,20,2,1),(35,21,1,1),(36,21,2,1),(37,22,1,1),(38,22,2,1),(39,23,1,1),(40,23,2,1),(41,24,1,1),(42,24,2,1),(43,25,1,1),(44,25,2,1),(45,26,1,1),(46,26,2,1),(47,27,1,1),(48,27,2,1),(49,28,1,1),(50,28,2,1),(51,29,1,1),(52,29,2,1),(53,30,1,1),(54,30,2,1);
/*!40000 ALTER TABLE `order_garments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_measurements`
--

DROP TABLE IF EXISTS `order_measurements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_measurements` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `order_garment_id` int(10) unsigned NOT NULL,
  `measurement_point_id` smallint(5) unsigned NOT NULL,
  `value` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_meas` (`order_garment_id`,`measurement_point_id`),
  KEY `idx_meas_point` (`measurement_point_id`),
  CONSTRAINT `fk_meas_og` FOREIGN KEY (`order_garment_id`) REFERENCES `order_garments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_meas_point` FOREIGN KEY (`measurement_point_id`) REFERENCES `measurement_points` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=433 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_measurements`
--

LOCK TABLES `order_measurements` WRITE;
/*!40000 ALTER TABLE `order_measurements` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_measurements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `order_no` varchar(20) NOT NULL,
  `customer_id` int(10) unsigned NOT NULL,
  `booking_date` date DEFAULT NULL,
  `delivery_date` date DEFAULT NULL,
  `quantity` smallint(6) NOT NULL DEFAULT 1,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `advance_paid` decimal(10,2) NOT NULL DEFAULT 0.00,
  `colour_note` varchar(150) DEFAULT NULL,
  `extra_notes` text DEFAULT NULL,
  `status` enum('pending','stitching','ready','delivered','returned','cancelled') NOT NULL DEFAULT 'pending',
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_order_no` (`order_no`),
  KEY `idx_orders_customer` (`customer_id`),
  KEY `idx_orders_status` (`status`),
  KEY `idx_orders_delivery` (`delivery_date`),
  KEY `fk_order_user` (`created_by`),
  CONSTRAINT `fk_order_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `fk_order_user` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `order_id` int(10) unsigned NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `paid_at` date NOT NULL,
  `kind` enum('advance','installment','balance','refund') NOT NULL DEFAULT 'advance',
  `method` enum('cash','card','bank','easypaisa','jazzcash','other') NOT NULL DEFAULT 'cash',
  `paid_on` date DEFAULT NULL,
  `note` varchar(150) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_pay_order` (`order_id`),
  KEY `payments_paid_at_index` (`paid_at`),
  CONSTRAINT `fk_pay_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `role` enum('admin','tailor','counter') NOT NULL DEFAULT 'counter',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','Shop Admin',NULL,'admin',1,'2026-06-29 09:50:11');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_order_measurements`
--

DROP TABLE IF EXISTS `v_order_measurements`;
/*!50001 DROP VIEW IF EXISTS `v_order_measurements`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_order_measurements` AS SELECT 
 1 AS `order_no`,
 1 AS `garment_en`,
 1 AS `garment_ur`,
 1 AS `point_en`,
 1 AS `point_ur`,
 1 AS `value`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_order_summary`
--

DROP TABLE IF EXISTS `v_order_summary`;
/*!50001 DROP VIEW IF EXISTS `v_order_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_order_summary` AS SELECT 
 1 AS `id`,
 1 AS `order_no`,
 1 AS `customer_name`,
 1 AS `customer_phone`,
 1 AS `booking_date`,
 1 AS `delivery_date`,
 1 AS `quantity`,
 1 AS `price`,
 1 AS `total_paid`,
 1 AS `balance_due`,
 1 AS `status`,
 1 AS `colour_note`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_pending_deliveries`
--

DROP TABLE IF EXISTS `v_pending_deliveries`;
/*!50001 DROP VIEW IF EXISTS `v_pending_deliveries`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_pending_deliveries` AS SELECT 
 1 AS `order_no`,
 1 AS `customer_name`,
 1 AS `customer_phone`,
 1 AS `delivery_date`,
 1 AS `balance_due`,
 1 AS `status`*/;
SET character_set_client = @saved_cs_client;

--
-- Current Database: `zr_tailor_db`
--

USE `zr_tailor_db`;

--
-- Final view structure for view `v_order_measurements`
--

/*!50001 DROP VIEW IF EXISTS `v_order_measurements`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_order_measurements` AS select `o`.`order_no` AS `order_no`,`g`.`name_en` AS `garment_en`,`g`.`name_ur` AS `garment_ur`,`mp`.`name_en` AS `point_en`,`mp`.`name_ur` AS `point_ur`,`om`.`value` AS `value` from ((((`order_measurements` `om` join `order_garments` `og` on(`og`.`id` = `om`.`order_garment_id`)) join `orders` `o` on(`o`.`id` = `og`.`order_id`)) join `garment_types` `g` on(`g`.`id` = `og`.`garment_type_id`)) join `measurement_points` `mp` on(`mp`.`id` = `om`.`measurement_point_id`)) order by `o`.`order_no`,`g`.`sort_order`,`mp`.`sort_order` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_order_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_order_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_order_summary` AS select `o`.`id` AS `id`,`o`.`order_no` AS `order_no`,`c`.`name` AS `customer_name`,`c`.`phone` AS `customer_phone`,`o`.`booking_date` AS `booking_date`,`o`.`delivery_date` AS `delivery_date`,`o`.`quantity` AS `quantity`,`o`.`price` AS `price`,coalesce(`p`.`paid`,0) AS `total_paid`,`o`.`price` - coalesce(`p`.`paid`,0) AS `balance_due`,`o`.`status` AS `status`,`o`.`colour_note` AS `colour_note` from ((`orders` `o` join `customers` `c` on(`c`.`id` = `o`.`customer_id`)) left join (select `payments`.`order_id` AS `order_id`,sum(case when `payments`.`kind` = 'refund' then -`payments`.`amount` else `payments`.`amount` end) AS `paid` from `payments` group by `payments`.`order_id`) `p` on(`p`.`order_id` = `o`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_pending_deliveries`
--

/*!50001 DROP VIEW IF EXISTS `v_pending_deliveries`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_pending_deliveries` AS select `v_order_summary`.`order_no` AS `order_no`,`v_order_summary`.`customer_name` AS `customer_name`,`v_order_summary`.`customer_phone` AS `customer_phone`,`v_order_summary`.`delivery_date` AS `delivery_date`,`v_order_summary`.`balance_due` AS `balance_due`,`v_order_summary`.`status` AS `status` from `v_order_summary` where `v_order_summary`.`status` in ('pending','stitching','ready') order by `v_order_summary`.`delivery_date` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-06 15:34:31
